<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnastasiaMusic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AnastasiaMusicFiles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Common.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Platform.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PlatformTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B431FE6F2153235500874EBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B453096B2154EBB500A5A74D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B46DB5A321533A1A007A135C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4833350212202530043709A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C131FA2153216300571796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4ECE61D21550BC700E7FEA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
